{%extends 'layout.html'%} {%block content%} {% include 'uploader/navbar.html'%}
<nav class="navbar m-1   members_attendance ">
    <div class="container-fluid">
        <div class="navbar ">
            <h3>Employee {{data | length}} <h3>
        </div>

        <div class="d-flex">
            <ul class="nav nav-pills nav-fill ">


            </ul>


        </div>
    </div>
</nav>

<div class="container">
    <table class="table table-hover">

        <thead>
            <tr>
                <th scope="col">Name</th>

                <th> Voter id</th>
                <th> Father name</th>
                <th> Number</th>
                <th>Outsider</th>
                <th> Salary</th>
                <th> Manager_name</th>
                <th> Attendance</th>

            </tr>
        </thead>



        <tbody>
            {%for employee in data%}
            <tr onclick="window.location='/uploader/employee/{{employee ._id}}' ">
                <th scope="row">{{employee['name']}}</th>
                <td> {{employee['voter_id']}} </td>
                <td> {{employee['father_name']}} </td>
                <td> {{employee['number']}} </td>
                <td> {{employee['area']}} </td>
                <td> {{employee['salary']}} </td>
                <td> {{employee['manager_name']}} </td>
                <td> {{employee['attendance']}} </td>
            </tr>
            {%endfor%}

        </tbody>


    </table>
</div>


{%endblock%}