{%extends 'layout.html'%}
{%block content%}
{% include 'boss/navbar.html'%}
<nav class="navbar m-1   members_attendance " >
    <div class="container-fluid">
    <div class="navbar ">
       <h3>Employee  {{data['employee_count']}}</h3>
    </div>

      <div class="d-flex">
        <ul class="nav nav-pills nav-fill "  >


        </ul>
        

      </div>
    </div>
  </nav>

<div class="container">
  <table class="table">

    <thead>
      <tr>
        <th scope="col">Name</th>
        <th >  voter_id</th>
        <th >  father_name</th>
        <th >  number</th>
        <th >  salary</th>
        <th >  manager_name</th>
        <th >  attendance</th>
      </tr>
    </thead>



    <tbody>
      {%for data in data['employee_list']%}
      <tr>
        <td scope="row">{{data['name']}}</td>
        <td > {{data['voter_id']}} </td>
        <td > {{data['father_name']}} </td>
        <td > {{data['number']}} </td>
        <td > {{data['salary']}} </td>
        <td > {{data['manager_name']}} </td>
        <td > {{data['attendance']}} </td>
      </tr>
      {%endfor%}

    </tbody>


  </table>
</div>

  
{%endblock%}
